.Navbar {
  background-image: linear-gradient(to left, rgba(255, 27, 206, 0.5), rgb(145, 38, 194));
  display: flex;
  height: 10vh;
}

.logo, .logo-img {
  height: 100%;
  margin-right: auto;
  margin-left: 1%;
  padding: 1%;
}

.logo-img {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text {
  margin-top: 10px 200px 0.5px 0;  
  font-size: 50px; 
  font-family: "Bubblegum Sans";
  color:   #660033
  ;
}

.dark {
  display: flex;
  height: 55%;
  width: 13%;
  margin: 1% 1% 1% 5%;
  padding:  0.5% 0 0 0.5%;
  background-color: rgb(4, 4, 1);
  border-radius: 55%;
  color: aquamarine;
}

.light {
  display: flex;
  height: 55%;
  width: 13%;
  margin: 1% 1% 1% 5%;
  padding:  0.5% 0 0 0.5%;
  background-color: rgb(240, 247, 240);
  border-radius: 55%;
  color: orangered;
}

.small-text {
  margin-top: 1%; 
  font-size: 100%;
  margin-left: 10%;
}

.profile {
  height: 100%;
  margin: 0 2em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2vh;
}

.main-dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2vh;
  background-color: black;
}

.main-white {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2vh;
  background-color: aliceblue
}

.shibe {
  border: none;
  width: 250px;
  height: 250px;
  margin: 1%;
  padding: 2%;
  border: 10px solid rgb(149, 149, 45);
  border-radius: 5%;
}

.shibe:hover {
  padding: 0;
}

.buttons {
  display: flex;
  margin: 0 25% 0 25%;
  justify-content: space-between;
}

.pageBut {
  margin-top: 1vh;
  width: 30%;
  height: 8vh;
  background-color:bisque;
  font-size: 500%;
  border-radius: 250px;
}

.refresh {
  margin: 0 0 1vh 39.6vw;
  width: 20%;
  height: 8vh;
  background-color: azure;
  color: red;
  font-size: 500%;
  border-radius: 250px;
}
